.question, .option {
    font-family: monospace; 
    color: gray;
    max-width: 97%;
    word-break: break-word;
}
.options_container {
    display: block;
}
.f_container {
    text-align: justify;
    text-justify: inter-word;
}
div.header-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  border-top: solid orange 2px;
  border-bottom: solid gray 1px;
}
.header-fixed a {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #969394; 
}
/* Social Icons */
.social-top-bar, .social-top-bar-navi {
  display: inline-block;
  margin: 10px 0;
}
.social-top-bar ul,
.social-top-bar-navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.social-top-bar ul li,
.social-top-bar-navi ul li {
  display: inline-block;
  margin: 0 5px;
}
.social-top-bar li a {
  font-size: 20px;
  color: #969394;
  font-weight: normal;
}
.social-top-bar-navi li a {
    font-size: 12px;
    color: #969394;   
    font-weight: normal;
}
.social-top-bar li a:hover,
.social-top-bar-navi li a:hover {
  color: #000000;
}
.filler {
    display: inline-block;
    width: 30%;
}
span.total {
    padding: 5px;
    color: orangered;
    font-weight: bold;
}
span.attempted {
    left-padding: 5px;
    color: darkslategray;
    font-weight: bold;
}
span.success {
    left-padding: 1px;
    color: teal;
    font-weight: bold;
}
