.question, .option {
    font-family: monospace; 
    color: gray;
    max-width: 97%;
    word-break: break-word;
}
.options_container {
    display: block;
}
.f_container {
    text-align: justify;
    text-justify: inter-word;
}
